:root {

    /* Colors */

    --white: #FFFFFF;
    --black: #000000;
    --grey-300: #ACC1DE;
    --grey-500: #5E6E85;
    --blue-100: #E1E7FE;
    --blue-300: #B3D3F1;
    --blue-500: #345FF6;
    --blue-900: #253347;
    --gradient-1: linear-gradient(to right, #D6FCFE, #D6E6FE);

}

*,*::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter-Milan";
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

body {
    font-family: "Inter-Milan", "Helvetica", sans-serif;
    margin: 0;
    
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

header {
    padding-top: 3rem;
    background-image: linear-gradient(to right,#FFFFFF, #D6E6FE);
    border-radius: 16px;
    height: 33rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 28rem;
    
}

#header-container {
    width: 90%;
}

#form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 90%;
    position: absolute;
    bottom: -28rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

fieldset {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#select-unit {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#select-unit label {
    font-weight: 600;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#measurements {
    border: none;
    display: flex;
    flex-direction: column;
}

#measurements label {
    font-size: .8rem;
    color: var(--grey-500);
}

#measurements input {
    padding: 1rem;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid var(--blue-900);
}

input[type=radio] {
    border: 0px;
    width: 2em;
    height: 2em;
}

#welcome {
    background-color: var(--blue-500);
    color: white;
    padding: 1rem;
    border-radius: 16px;
}

#output {
    background-color: var(--blue-500);
    color: white;
    padding: 1rem;
    border-radius: 16px;
}

#bmi-means {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#limitations {
    width: 90%;
}

/* Typography */

h1 {
    font-size: 2.75rem;   
}

#form h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

#bmi-means p {
    color: var(--grey-500);
    line-height: 1.4;
}


/* Images */

    img {
        max-width: 100%;
    }
